
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-12">
        <h3 class="alert-success p-3 text-center">جميع الفنيين </h3>
    </div>
</div>
<br />
<div class="row">
    <div class="container">
        <div class="row">

            <table id="ads" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>اسم المستخدم</td>
                        <td>الأسم</td>
                        <td>البريد الألكترونى</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#ads").DataTable({
                ajax: {
                    url: "/userApi/technicalRole",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "userName"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "email"
                    }
                    //{
                    //    data: "id",
                    //    render: function (data) {
                    //        return "<a class='btn btn-primary' href='/Elevator/Update/" + data + "'>تعديل</a><button data-ads-id=" + data + "  class='js-delete btn btn-danger mr-2'>حذف</button>";
                    //    }
                    //}
                ]
            });

            // $('#example').DataTable();

            $("#ads").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("هل انت متأكد من حذف هذا المصعد", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/elvatorApi/Delete",
                            method: "GET",
                            data: {
                                id: button.attr("data-ads-id")
                            },
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });
        })
    </script>
}